* {
  box-sizing: border-box;
  color: #777;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-header {
  padding-bottom: 30px;
}

.web-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  color: #666;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-weight: bold;
  color: #333;
  text-align: center;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  margin: 1em;
  cursor: pointer;
}

.delete-btn {
  margin: 0em;
  padding: 0em;
  color: red;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
  font-size: 1.5em;
  font-weight: bold;
  transition: 500ms;
}

.food-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.food-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.food-row {
  display: flex;
}

.food-item {
  width: 45%;
}

.food-time {
  width: 40%;
}

.food-delete {
  width: 15%;
}