@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css2?family=Quicksand);
@import url(https://fonts.googleapis.com/css2?family=Raleway);

* {
  box-sizing: border-box;
  color: #080808;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-header {
  padding-bottom: 2em;
}

.web-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: Source Sans Pro;
  font-weight: bold;
  color: #002e2c;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-weight: bold;
  color: #333;
  text-align: left;
  font-family: Quicksand;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  margin-top: 1em;
  cursor: pointer;
}

.delete-btn {
  margin: 0em;
  padding: 0em 0em;
  color: #ea0004;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
  font-size: 1.5em;
  font-weight: bold;
  transition: 500ms;
}

.food-column {
  display: block;
  align-items: center;
  margin-right: 0;
  padding-bottom: 0;
  margin-top: .25em;
}

.food-row {
  display: flex;
}

.food-item {
  width: 45%;
  border-bottom: 0.1em solid black;
  font-family: Raleway;
  font-weight: bold;
}

.food-time {
  width: 40%;
  border-bottom: 0.1em solid black;
  text-align: right;
  font-family: Quicksand;
}

.food-delete {
  width: 15%;
}

.btn-add {
  font-weight: bold;
  transition: 100ms;
  background-color: #5b8d58;
  border-radius: 0%;
}

.btn-add:hover {
  background-color: rgba(91, 141, 88, .5);
  transition: 250ms;
}

.btn-idea-align {
  left: 40%;
  margin: 0;
  position: relative;
}

.btn-idea {
  padding: 1em;
  border-radius: 0%;
  background-color: rgba(200, 200, 200, .5);
  transition: 250ms;
  color: #333;
}

.btn-idea:hover {
  background-color: rgba(200, 200, 200, 0.25);
}